@use '../../../styles/colors' as c
@use '../../../styles/variables' as v

.about-card
  padding: v.$u-400 0 v.$u-300 0
  text-align: center
  & h3
    color: c.$clr-mono-500
    letter-spacing: .2rem
    font-weight: 600
    padding-bottom: v.$u-300
  & img
    width: 60%
    height: auto
    @include c.clr-accent-500
