@use '../../styles/colors' as c
@use '../../styles/variables' as v
@use '../../styles/mixins' as m

.about
  width: 100%
  .about-main
    width: 100%
    @include m.padding-view
    & img
      width: 100%
    & h2
      color: c.$clr-mono-400
  .line
      height: v.$u-200
      border-bottom: .1rem solid c.$clr-mono-700
  .about-cards
    @include m.padding-view
