@use '../../styles/colors' as *
@use '../../styles/variables' as *
@use '../../styles/mixins' as m

.about
  width: 100%
  .about-main
    width: 100%
    @include m.padding-view
    & img
      width: 100%
      @include clr-accent-400
    & h2
      font-size: 2.4rem
      color: $clr-mono-400
  .line
      height: $u-200
      border-bottom: .1rem solid $clr-mono-700
  .about-cards
    @include m.padding-view
